/*
 * Slogan
 */

#slogan {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border-top: 1px dotted #656565;
  padding-top: 4px;
}

#header-inside-left a img {
  width: 342px;
  margin-bottom: 3px;
}

/*
 * Field defaults
 */

.jcarousel-skin-default .node .field {
  text-align: left;
}

.view-mode-full .field-name-body {
  margin: 20px 0px;
}

/*
 * Blocos de views
 */

.block-views h2 {
  margin-bottom: 5px;
}

.block-views h3 {
  margin-top: 10px;
}

/*
 * View: slideshow
 */

.view-slideshow .flexslider:hover .flex-next { right: -30px; }

.view-slideshow .flexslider:hover .flex-prev { left: -30px; }

.view-slideshow .group-left {
  width: 32%;
  height: 200px ;
}

.view-slideshow .group-right {
  width: 60%;
  padding: 20px;
}

.view-slideshow .field-name-field-thumbnail img {
  background-color: white;
}

.view-slideshow h2 { 
  margin:0 0 10px 0;
  color:#222222; 
  font-size:25px;
  font-weight:bold; 
}

/*
 * Formulario: contato
 */

#contact-site-form .form-item {
  float: left;
  width: 470px;
}

#contact-site-form .form-item.form-item-message {
  width: 100%;
}

#contact-site-form .form-item.form-item-message textarea {
  height: 220px;
}

#contact-site-form .form-actions {
  float: right;
}

/*
 * User login
 */

#user-login .form-item,
#user-pass .form-item {
  width: 460px
}

/*
 * Book block
 */

.block-bookblock .leaf a,
.block-bookblock .leaf a:hover {
  color: #7a7a7a;
}

/*
 * Product page
 */

.node-produto .group-left {
  width: 20%;
}

.node-produto .group-right {
  width: 80%;
}